# Database Configuration
DATABASE_URL="mysql://u474398114_fourtatek:DildilPakistan_786_786@193.203.166.156:3306/u474398114_fourtatek"

# Image Upload Configuration
IMAGE_UPLOAD_PHP_URL="https://fouratek.com/upload_Image.php"
NEXT_PUBLIC_IMAGE_UPLOAD_BASE="https://fouratek.com/uploads"

CONTACT_RECEIVER_EMAIL=contact@fouratek.com
SMTP_PASS=Contact@4atek.com
SMTP_USER=contact@fouratek.com
ADMIN_USER=admin
ADMIN_PASS=786@786
ADMIN_COOKIE_SECRET=z3wQyF6c7e9hK2pL5mS8vB1nC4rT7uP0qXyZ8wL3s6d9f2h
ADMIN_COOKIE_NAME=admin_session
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true



